.hero
  %h2 Because you work hard, getting paid should be easy. Tally makes invoices a cinch.
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis non lectus quis commodo. Sed vitae malesuada lectus. Etiam malesuada porta pulvinar. Morbi semper lacus sit amet massa faucibus, eu aliquet neque scelerisque. Nam non nisl non tortor scelerisque tincidunt. Suspendisse potenti. Morbi imperdiet tristique tincidunt.
.grid-4
  %h3 Very feature
  %p Aliquam ac euismod metus. Cras vehicula non purus sed volutpat. Donec sapien ante, laoreet at egestas in, rutrum vitae nisi. Pellentesque imperdiet nisi non condimentum vestibulum. In a urna ac neque hendrerit luctus.
.grid-4
  %h3 Much capable
  %p Ut vitae tempor lorem, vel lacinia lorem. Cras nisi sapien, auctor ut ultrices vel, mollis sit amet tellus. Phasellus tristique nisi id commodo imperdiet. Aenean a felis in justo auctor facilisis. Fusce vitae purus sed libero tincidunt luctus.
.grid-4
  %h3 Such useful
  %p Morbi ultrices hendrerit sapien, nec iaculis mi aliquet in. Vestibulum id erat sem. Nam ac varius libero, sed sollicitudin eros. In euismod lacus ligula, sit amet faucibus urna gravida ut. Suspendisse potenti. Suspendisse tortor eros.