%h2 Payments
%table
  %tr
    %th{ colspan: 10 } Title
  - if @payments.count > 0
    - @payments.each do |payment|
      %tr
        %td= payment.name
        %td= link_to content_tag(:i, Tally::Application::SHOW.html_safe, class: "ss-icon"), payment
        %td= link_to content_tag(:i, Tally::Application::EDIT.html_safe, class: "ss-icon"), edit_payment_path(payment)
        %td= link_to content_tag(:i, Tally::Application::DESTROY.html_safe, class: "ss-icon"), payment, :method => :delete, :data => { :confirm => 'Are you sure?' }
  - else
    %tr
      %td{ colspan: 10 } You currently do not have any payments