.grid-12
  %h2 Payments
  %table
    %tr
      %th Amount
      %th Invoice
      %th Client
    - if @payments.count > 0
      - @payments.each do |payment|
        %tr
          %td= number_to_currency payment.amount
          %td= payment.invoice.title
          %td= payment.invoice.client.name
    - else
      %tr
        %td{ colspan: 10 } You currently do not have any payments