%head
  %title Tally
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

  / Set the viewport for mobile safari
  %meta{content: 'width=device-width, initial-scale=1.0, user-scalable = no, maximum-scale=1.0', name: 'viewport'}

  / Use TypeKit for fonts
  %script{src: "//use.typekit.net/ivv2saw.js", type: "text/javascript"}
  :javascript
    try{Typekit.load();}catch(e){}